@linkedin:registry=http://artifactory.corp.linkedin.com:8081/artifactory/api/npm/npm-internal/
@components:registry=http://artifactory.corp.linkedin.com:8081/artifactory/api/npm/npm-components/
@types:registry=http://artifactory.corp.linkedin.com:8081/artifactory/api/npm/npm-external/
registry=http://artifactory.corp.linkedin.com:8081/artifactory/api/npm/npm-external/
always-auth=false
